@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  table td {
    @apply h-[2rem] w-[2rem] border border-black lg:h-[2.5rem] lg:w-[2.5rem] xl:h-[3rem] xl:w-[3rem];
  }
  table.clickable td {
    @apply cursor-pointer;
  }

  .absolute-center {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
